<div *ngIf="event">

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-10">
        <h4 class="pb-2 mb-0">{{event.name}}</h4>
      </div>

      <div class="col-sm-12 col-md-3 col-lg-2 mt-2">
        <button class="btn btn-success btn-block" (click)="onNewMemberClick()" [disabled]="isLoading">New
          Member</button>
      </div>

    </div>

    <div class="row border-bottom border-gray pb-2 mb-0">
      <div class="col-sm-12  mt-2">
        <member-search #memberSearch [placeholder]="'Search Members'" [disabled]="isLoading"
          (onSearch)="filterSearch($event)">
        </member-search>
      </div>

    </div>

    <div *ngIf="filter.length > 0">
      <filtered-members [queryFilter]="notCheckedInQueryFilter" [filter]="filter" [buttonText]="'Checkin'"
        (onButtonClick)="onCheckin($event)">
      </filtered-members>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-10">
        <h4 class="pb-2 mb-0">Checked In</h4>
      </div>
    </div>

    <div *ngIf="checkedInQueryFilter['where']">
      <filtered-members [queryFilter]="checkedInQueryFilter" [buttonText]="'Undo Checkin'"
        (onButtonClick)="onUndoCheckin($event)">
      </filtered-members>
    </div>
  </div>

</div>