<div *ngIf="member">
  <div class="row">
    <div class="card col-md-10 mt-2 mx-auto">
      <div class="card-body">
        <h4 class="card-title text-center">
          <i class="far fa-3x fa-user-circle text-muted"></i>
        </h4>

        <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
          Username or password incorrect.
        </div>

        <label class="d-block">
          <span [ngClass]="member.firstName?.length ? '' : 'text-danger'" translate>First Name</span>
          <input type="text" class="form-control" [(ngModel)]="member.firstName" />
        </label>

        <label class="d-block">
          <span [ngClass]="member.lastName?.length ? '' : 'text-danger'" translate>Last Name</span>
          <input type="text" class="form-control" [(ngModel)]="member.lastName" />
        </label>

        <label class="d-block">
          <span [ngClass]="member.email?.length ? '' : 'text-danger'" translate>Email</span>
          <input type="text" class="form-control" [(ngModel)]="member.email" />
        </label>

        <label class="d-block">
          <span translate>Mobile Phone</span>
          <input type="text" class="form-control" [(ngModel)]="member.mobilePhone" />
        </label>

        <label class="d-block">
          <span translate>Home Phone</span>
          <input type="text" class="form-control" [(ngModel)]="member.homePhone" />
        </label>

        <label class="d-block">
          <span translate>Work Phone</span>
          <input type="text" class="form-control" [(ngModel)]="member.workPhone" />
        </label>

        <label class="d-block">
          <span translate>Other Phone</span>
          <input type="text" class="form-control" [(ngModel)]="member.otherPhone" />
        </label>

        <label class="d-block">
          <button class="btn w-100" [ngClass]="noMemberChanges() ? 'btn-secondary' : 'btn-primary'" (click)="updateMember()"
            [disabled]="isLoading || noMemberChanges()">
            <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
            <span translate>{{member.id ? "Update" : "Create"}} Member{{eventId ? " and Checkin" : ""}}</span>
          </button>
        </label>

        <label *ngIf="member.id && !eventId" class="d-block pt-4">
          <button class="btn btn-danger w-100" (click)="deleteMember()" [disabled]="isLoading">
            <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
            <span translate>Delete Member</span>
          </button>
        </label>

      </div>
    </div>
  </div>
  <go-back-button [loading]="isLoading">Go Back</go-back-button>
</div>