<div *ngIf="member">
  <div class="row">
    <div class="card col-md-10 mt-2 mx-auto">
      <div class="card-body">
        <h4 class="card-title text-center">
          <i class="far fa-3x fa-user-circle text-muted"></i>
        </h4>

        <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
          Username or password incorrect.
        </div>

        <label class="d-block">
          <div class="row">
            <div class="col-md-6">
              <span translate>First Name</span>
              <input type="text" class="form-control" [(ngModel)]="member.firstName" [placeholder]="'First Name' | translate" />

              <small [hidden]="member.firstName.length" class="text-danger" translate>
                First Name is required
              </small>
            </div>
            <div class="col-md-6">
              <span translate>Last Name</span>
              <input type="text" class="form-control" [(ngModel)]="member.lastName" [placeholder]="'Last Name' | translate" />

              <small [hidden]="member.lastName.length" class="text-danger" translate>
                Last Name is required
              </small>
            </div>
          </div>
        </label>

        <label class="d-block">
          <span translate>Email</span>
          <input type="text" class="form-control" [(ngModel)]="member.email" [placeholder]="'Email' | translate" />

          <small [hidden]="member.email.length" class="text-danger" translate>
            Email is required
          </small>
        </label>

        <label class="d-block">
          <span translate>Cell Phone</span>
          <input type="text" class="form-control" [(ngModel)]="member.cellPhone" [placeholder]="'Cell Phone' | translate" />

          <small [hidden]="member.cellPhone.length" class="text-danger" translate>
            Cell Phone is required
          </small>
        </label>

        <label class="d-block">
          <button class="btn w-100" [ngClass]="noMemberChanges() ? 'btn-secondary' : 'btn-primary'" (click)="updateMember()" [disabled]="isLoading || noMemberChanges()">
            <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
            <span translate>Update Member{{eventId ? " and Checkin" : ""}}</span>
          </button>
        </label>

        <label class="d-block">
          <button class="btn btn-success w-100" (click)="goBack()" [disabled]="isLoading">
            <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
            <span translate>Go Back</span>
          </button>
        </label>

      </div>
    </div>
  </div>
</div>