<div class="my-3 p-3 bg-white rounded box-shadow">
  <div class="row border-bottom border-gray pb-2 mb-0">
    <div class="col-sm-4">
      <h6>Checked-In Members ({{checkins.length}})</h6>
    </div>
    <div class="col-sm-3">
      <h6>New Members ({{checkinStats.new}})</h6>
    </div>
    <div class="col-sm-3">
      <h6>Paid Members ({{checkinStats.paid}})</h6>
    </div>

    <div *ngIf="roleChecker.is('admin') && (checkins.length > 0)" class="col-sm-2">
      <div class="btn btn-success btn-block" target="0" (click)="onDownload()">Download <i class="fas fa-arrow-alt-circle-down"></i></div>
    </div>


  </div>
  <div *ngFor="let checkin of checkins;" class="media text-muted pt-3">

    <div *ngIf="checkedInMembers[checkin.memberId]" class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-10">
          <strong class="text-gray-dark">
            <span>{{checkedInMembers[checkin.memberId].firstName}} {{checkedInMembers[checkin.memberId].lastName}}</span>
            <span *ngIf="
        checkedInMembers[checkin.memberId].membershipLevel" class="badge badge-primary">{{checkedInMembers[checkin.memberId].membershipLevel}}</span>
            <span *ngIf="checkedInMembers[checkin.memberId].created > event.date" class="badge badge-warning">New!</span>
            <span class="d-block">Checkin Time: {{checkin.date | date:'mediumTime'}}</span>
          </strong>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2">
          <div *ngIf="displayCheckin" class="btn-group float-right w-100" role="group" aria-label="Sorting">
            <button *ngIf="!event.closed" class="btn btn-primary w-100" (click)="onUndoCheckin(checkedInMembers[checkin.memberId].id)">Undo
              Checkin</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>