<div class="my-3 p-0 bg-white rounded box-shadow">
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-12 ">
      <h6>{{resultText}}</h6>
      <ul class="list-group border-left=0">

        <li *ngFor="let member of displayMembers; let i = index" [attr.data-index]="i"
          class="list-group-item d-flex justify-content-between align-items-center border-left=0 text-muted">
          <!-- <li class="list-group-item d-flex justify-content-between align-items-center"> -->
          <span>{{member.firstName}} {{member.lastName}} | email: {{member.email}}</span>
          <span *ngIf="member.membershipLevel" class="badge badge-primary">{{member.membershipLevel}}</span>
          <span class="d-block">
            <span *ngIf="member.mobilePhone">mobile: {{member.mobilePhone | phoneNumber }}</span>
            <span *ngIf="member.homePhone">| home: {{member.homePhone | phoneNumber }}</span>
            <span *ngIf="member.workPhone">| work: {{member.workPhone | phoneNumber }}</span>
            <span *ngIf="member.otherPhone">| other: {{member.otherPhone | phoneNumber }}</span>
          </span>
          <div class="col-2 p-0">
            <div class="btn-group float-right w-100" role="group" aria-label="Sorting">
              <button *ngFor="let button of buttons; let i = index" (click)="emitOnButtonClick(member.id,i)"
                class="{{button.class}}">{{button.text}}</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>