<div *ngIf="event">
  <div class="row">
    <div class="card col-md-10 mt-2 mx-auto">
      <div class="card-body">
        <h4 class="card-title text-center">
          <i class="far fa-3x fa-calendar-alt text-muted"></i>
        </h4>

        <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
          Username or password incorrect.
        </div>

        <label class="d-block">
          <span [ngClass]="event.name?.length ? '' : 'text-danger'" translate>Event Name</span>
          <input type="text" class="form-control" [(ngModel)]="event.name" [disabled]="isLoading || event.locked" />
        </label>

        <label class="d-block">
          <span translate>Event Date</span>
          <div class="w-100">
            <input type="text" ngbDatepicker [(ngModel)]="calendarDate" ngbDatepicker #d="ngbDatepicker" [disabled]="isLoading || event.locked"
            />
            <button (click)="d.toggle()" [disabled]="isLoading || event.locked"><i class="far fa-calendar-alt text-muted"></i></button>
          </div>
        </label>

        <label class="d-block">

          <div class="form-check">
            <input class="form-check-input" type="checkbox" [(ngModel)]="event.locked">
            <label class="form-check-label" for="defaultCheck1">
              Event Locked
            </label>
          </div>
        </label>

        <label class="d-block">
          <button class="btn w-100" [ngClass]="noEventChanges() ? 'btn-secondary' : 'btn-primary'" (click)="updateEvent()" [disabled]="isLoading || noEventChanges()">
            <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
            <span translate>{{event.id ? "Update" : "Create"}} Event</span>
          </button>
        </label>

        <label *ngIf="event.id" class="d-block pt-4">
          <button class="btn btn-danger w-100" (click)="deleteEvent()" [disabled]="isLoading">
            <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
            <span translate>Delete Event</span>
          </button>
        </label>

      </div>
    </div>
  </div>
  <go-back-button [loading]="isLoading">Go Back</go-back-button>
</div>