<div class="my-3 p-3 bg-white rounded box-shadow">

  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-10">
      <h4 class="pb-2 mb-0">{{title}}</h4>
    </div>
    <div *ngIf="displayImport && roleChecker.is('admin')" class="col-sm-12 col-md-3 col-lg-2 mt-2">
      <a class="btn btn-success btn-block" routerLink="/import">Import Members</a>
    </div>
  </div>

  <div class="row border-bottom border-gray pb-2 mb-0">

    <div class="col-sm-12 col-md-5 col-lg-4 mt-2">
      <div class="btn-group w-100" role="group" aria-label="Sorting">
        <button type="button" class="btn btn-dark disabled w-100">Sort By: </button>
        <button type="button" class="btn btn-outline-dark w-100" (click)="sort('firstName')">First Name</button>
        <button type="button" class="btn btn-outline-dark w-100" (click)="sort('lastName')">Last Name</button>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-6 mt-2">
      <div class="input-group">
        <input type="text" class="form-control" (keyup)="filterSearch($event)" [placeholder]="'Search Members'"
          [(ngModel)]="search" [disabled]="isLoading" autocomplete="off" autocorrect="off" autocapitalize="off"
          spellcheck="false" />
        <div class="input-group-append">
          <button class="btn btn-dark" type="button" (click)="clearSearch()" [disabled]="search.length == 0"><i class="far fa-times-circle"></i></button>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-2 mt-2">
      <button class="btn btn-success btn-block" (click)="onNewMemberClick()" [disabled]="isLoading">New Member</button>
    </div>
  </div>

  <div *ngFor="let member of members; let i = index" [attr.data-index]="i" class="media text-muted pt-3">
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="row">
        <div class="col-sm-12 {{eventId ? 'col-md-8 col-lg-9' : 'col-md-9 col-lg-10'}}">
          <strong class="text-gray-dark">
            <span>{{member.firstName}} {{member.lastName}}</span>
            <span>| email: {{member.email}}</span>
            <span *ngIf="member.membershipLevel" class="badge badge-primary">{{member.membershipLevel}}</span>
            <span class="d-block">
              <span *ngIf="member.mobilePhone">mobile: {{member.mobilePhone | phoneNumber }}</span>
              <span *ngIf="member.homePhone">| home: {{member.homePhone | phoneNumber }}</span>
              <span *ngIf="member.workPhone">| work: {{member.workPhone | phoneNumber }}</span>
              <span *ngIf="member.otherPhone">| other: {{member.otherPhone | phoneNumber }}</span>
            </span>
          </strong>
        </div>

        <div class="col-sm-12 {{eventId ? 'col-md-4 col-lg-3' : 'col-md-3 col-lg-2'}}">
          <div class="btn-group float-right w-100" role="group" aria-label="Sorting">
            <button class="btn {{eventId ? 'btn-secondary' : 'btn-primary'}} w-100" (click)="onEditDetails(member.id)">Edit
              Details</button>
            <button *ngIf="eventId" class="btn btn-primary w-100" (click)="onCheckin(member.id)">Checkin</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>